# session name
# required
SESSION=''

# telegram api id and api hash (my.telegram.org)
# required
API_ID=''
API_HASH=''

# sudo user ids (separate with space if more than one sudo) e.g. 11111111 22222222 33333333
# optional
SUDO=''

# spotify vars
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''

# bot prefix (separate with space) e.g. / ! .
# optional
PREFIX='!'

# log level (if you don't know what is logging, don't change it) 
# optional
LOG_LEVEL='error'

# default language for groups
# optional
DEFAULT_LANG='tr'

# thumbnail on voice chats (true or false)
# optional
THUMB_ON_VC='true'